<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<nav th:replace="fragments :: navigation"></nav>
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<form method="post" style="width:600px;">
    <div class="form-group">
        <label th:for="username-field">Username</label>
        <input class="form-control" id="username-field" type="text" name="username" th:value="${username}"/>

    </div>
    <div class="form-group">
        <label th:for="email-field">Email</label>
        <input class="form-control" id="email-field" type="email" name="email" th:value="${email}" />

    </div>
    <div class="form-group">
        <label th:for="password-field">Password</label>
        <input class="form-control" id="password-field" type="password" name="password" />

    </div>
    <div class="form-group">
        <label th:for="confirm-field">Confirm Password</label>
        <input class="form-control" id="confirm-field" type="password" name="confirm" />

    </div>

    <input type="submit" value="Create Account" />
</form>

<span class="error" th:text="${message}"></span>

</body>
</html>
