<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<nav th:replace="fragments :: navigation"></nav>
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>


<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label for="username-field">Username</label>
        <input class="form-control" id="username-field" type="text" name="username" th:value="${username}"/>
    </div>
    <div class="form-group">
        <label for="password-field">Password:</label>
        <input class="form-control" id="password-field" type="password" name="password" />
    </div>
    <input type="submit" value="Login" />
</form>

<span class="error" th:text="${message}"></span>


<span>Don't have an account yet? <a th:href = "@{/users/add}">Click Here</a></span>

</body>
</html>
