div.text-value{
    font-weight: bold;
    font-size: 20px;
}

a.nav-item{
    font-color: #fff;
}


td, th {
    padding: 18px;
}

tr:nth-child(odd) {
    background-color: #b5a5f3;
}

table.medicine-page {
    margin: 30px auto;
    border: 1px solid #b5a5f3;
    width: 80%;
}

table.medicine-page td:first-child {
    font-weight: bold;
}

table.medicine-page td:last-child {
    width: 80%;
}

.navbar{
    background-color: #b5a5f3;
}

.error{
    font-color: #F50808;
}

body{
    background-color: blue;
      background-image: radial-gradient(
        rgba(205, 200, 224, 1.70), blue 180%
      );
      height: 100vh;

}



h1{
     font-family: 'Shanghai', arial;
}

a{
    color:#333;
}


